.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }
  
  .featureSvg {
    height: 150px;
    width: 150px;
  }
}
